:root {
    --background-color: #000;
    --text-color: #fff;
    --header-color: #333;
    --border-color: #fff;
    --margin: 20px;
    --canvas-width: 800px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: var(--margin);
}

h1 {
    color: var(--header-color);
}

input[type="file"] {
    margin: 20px 0;
}

#progressBar {
    width: var(--canvas-width); /* Moved from inline styles */
    display: none; /* Moved from inline styles */
}

canvas {
    border: 1px solid var(--border-color);
    max-width: 100%; /* Ensure canvas is responsive */
    height: auto; /* Maintain aspect ratio */
}

video {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}
