body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

input[type="file"] {
    margin: 20px 0;
}

#progressBar {
    width: 800px; /* Moved from inline styles */
    display: none; /* Moved from inline styles */
}

canvas {
    border: 1px solid #fff;
}

video {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}
